
<!-- navbarComponent -->
<app-header-component></app-header-component>

<!-- Login Forms -->
<!-- <app-forms></app-forms> -->


<!-- Toggle Button -->
<!-- <button (click)="toggle()">show hide</button>
<h1 *ngIf="display">HEllo toggle</h1> -->

<!-- ParentChild  Example -->
<!-- <app-parentcomponent></app-parentcomponent> -->

<!-- twowaybindingcomponent Example -->
<!-- <app-twowaybindingcomponent></app-twowaybindingcomponent> -->



 <!-- nested foreach -->
  <!-- <div *ngFor="let items of arr">
   <p>{{items}}</p>
  </div>

  <div *ngFor="let ob of object">
      <p>{{ob.name}} -- {{ob.class}}</p>
      <p *ngFor="let message of ob.rollno">{{message}}</p>

  </div> -->

  <!-- style Dynamic Binding -->

  <!-- <p [style.color]="color">hi</p>
  <!-- onclick Chnge Color -->
  <!-- <button (click)="clickChangeColor()">Chnage</button> --> 